body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

#recipeBy {
  font-size: 24px;
}

#brownieImage {
  width: 500px;
  height: auto; 
  float: right;
}

#brownieRecipeLink {
  font-size: 15px;
}

#tip {
  font-weight: bold;
}

#foil {
  font-style: italic;
}
